name = "hono_influxdb_cloud_agent"
compatibility_date = "2023-01-01"

[vars]
INFLUXDB_MEASUREMENT_NAME = "clicks"
INFLUXDB_ORG = "DEV"
INFLUXDB_BUCKET = "test"
INFLUXDB_TOKEN = "=="

# [[kv_namespaces]]
# binding = "MY_KV_NAMESPACE"
# id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# [[r2_buckets]]
# binding = "MY_BUCKET"
# bucket_name = "my-bucket"

# [[d1_databases]]
# binding = "DB"
# database_name = "my-database"
# database_id = ""
